# OS files
desktop.ini
.DS_Store

# Don't include the composer vendor folder
vendor

# NPM modules
node_modules

# SASS stuff
.sass-cache

# All the error logs
errors.log
php-error
php-log

# Logs
*.log

# Ignore any lock files
*.lock

# Ignore everything inside the config directory
htdocs/anchor/config/*

# Except for these files
!htdocs/anchor/config/aliases.php
!htdocs/anchor/config/error.php
!htdocs/anchor/config/migrations.php
.htaccess
